<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Room List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>name</th>
            <th>date</th>
            <th>startHour</th>
            <th>endHour</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let room of rooms | async">
            <td>{{room.name}}</td>
            <td>{{room.date}}</td>
            <td>{{room.startHour}}</td>
            <td>{{room.endHour}}</td>
            <td><button (click)="deleteRoom(room.id)" class="btn btn-danger">Delete</button>
              <button (click)="updateRoom(room.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
                <button (click)="roomDetails(room.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  